
@{
    ViewData["Title"] = "LeagueConstitution";
}
<br />
@*<h2>League Constitution</h2>*@
<h2>About</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Overview</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rules
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Home/LeagueRules">League Rules</a>
                        <a class="dropdown-item" href="/Home/LeagueConstitution">League Constitution</a>
                    </div>
                <li class="nav-item ">
                    <a class="nav-link" href="/Home/Documents">Documents</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br />
    <div class="card">
        <div class="card-header">
            <h4><strong>League Constitution</strong></h4>
        </div>
        <div class="card-body" style="padding-left:90px; padding-right:90px;">
            <p><strong><u>SQUASH NIAGARA CONSTITUTION</u></strong></p>
            <p><strong>ARTICLE ONE – NAME</strong></p>
            <p>The organization shall be known as Squash Niagara, (formerly known as the Niagara Squash Racquets Association, NSRA, or the Niagara Region of Squash Ontario).</p>
            <p><strong>ARTICLE TWO – PURPOSE</strong></p>
            <p>The purpose of the Association shall be to collectively organize and support players and organizations involved in the sport of squash throughout the Regional Municipality of Niagara.</p>
            <p><strong>ARTICLE THREE – AIMS AND OBJECTIVES</strong></p>
            <ol>
                <li>To promote the game of squash.</li>
                <li>To organize league play for competition in the Niagara Region.</li>
                <li>To sponsor squash programs other than league play, example: clinics, exhibition matches, tournaments, etc.</li>
                <li>To develop and conduct a junior development program.</li>
                <li>To publicize the sport of squash.</li>
                <li>To provide&nbsp; liaison&nbsp; amongst&nbsp; players&nbsp; and organizations&nbsp; in the Niagara</li>
                <li>To provide services of a co-ordinating and recording body.</li>
                <li>To work in harmony with Squash Ontario and all other governing bodies or agencies.</li>
            </ol>
            <p><strong>ARTICLE FOUR – MEMBERSHIP</strong></p>
            <p>The Membership shall be comprised of all squash-playing members in good standing of clubs and organizations, who are in turn members in good standing of Squash Ontario. Such clubs are hereinafter referred to as ‘Member-Clubs’.</p>
            <p><strong>ARTICLE FIVE – OFFICERS</strong></p>
            <p>The officers of the Association shall be President,&nbsp; Past&nbsp; President,&nbsp; Vice-President,&nbsp; Secretary,&nbsp; Treasurer and Junior Development Chair.</p>
            <p><strong>ARTICLE SIX – BOARD OF DIRECTORS</strong></p>
            <ol>
                <li>The Board of Directors shall be responsible for the administration&nbsp; of the&nbsp; affairs&nbsp; of the Association. The Board of Directors shall&nbsp; consist&nbsp; of the&nbsp; President,&nbsp; Past&nbsp; President,&nbsp; Vice-President,&nbsp; Secretary, Treasurer, and Junior Development Chair and six (6) other members, all of whom&nbsp; are&nbsp; elected&nbsp; at each annual meeting.</li>
                <li>The Board of Directors shall have power to fill vacancies&nbsp; occurring&nbsp; in&nbsp; its membership prior to the next annual general meeting.</li>
                <li>The Board of Directors shall continue in office until the next election.</li>
                <li>Five members present shall constitute a quorum at any properly called Board of Directors meeting.</li>
            </ol>
            <p><strong>ARTICLE SEVEN – ELECTION AND VOTING</strong></p>
            <ol>
                <li>Prior to the annual general meeting the Past-President, as Nominations Chairperson, shall prepare a slate of officers and directors and shall submit these names to the membership at the annual general meeting. At the time of voting, nominations may be accepted from the floor. Such floor-nominees must be present or must have indicated in writing to the meeting that they are prepared to accept such nomination.</li>
                <li>On resolution and other questions, open voting shall prevail unless a ballot is requested.</li>
                <li>In the event of a constitutional change or any major issue for which prior notice of vote is posted, each member shall be entitled to vote by proxy.</li>
                <li>At the annual general meeting or any duly called general membership meeting, each Member-Club shall have a number of votes equal to the number of paid up squash courts, (to the Corporation of Squash Ontario), as at the last date of the month-end prior to the meeting date.</li>
                <li>A quorum at the annual general meeting and any general meeting shall consist of not less than two members present in person and entitled to vote at least 25% of the total number of votes eligible to be cast at such meeting.</li>
            </ol>
            <p><strong>ARTICLE EIGHT – COMMITTEES</strong></p>
            <ol>
                <li>
                    At the first Board of Directors meeting following the annual general meeting, or when necessary, the board shall appoint members for the following positions:
                    <ol>
                        <li>Rules Committee Chair;</li>
                        <li>Webmaster;</li>
                        <li>Schedule Management;</li>
                        <li>Directory Editor;</li>
                    </ol>
                </li>
                <li>Additional committees, as required, may be created by the Board of Directors under the terms of reference to be established by the Board and for any determined period of time, but not extending beyond their tenure of office.</li>
                <li>Each committee is to be chaired by a member of the Board of Directors.</li>
                <li>Reports of committees shall be effective only upon approval or amendment by the members in session.</li>
                <li>The chairperson of any committee shall have the power to add to the number of members of the committee as he or she sees fit. Members of Committees shall be members of Squash Niagara.</li>
            </ol>
            <p><strong>ARTICLE NINE – MEETINGS</strong></p>
            <ol>
                <li>The Association shall hold an annual general meeting within thirty days of the end of the Association’s fiscal year end. The time and place shall be determined at the previous annual general meeting, or failing this, by the Board of Directors.</li>
                <li>Additional general membership meetings shall be called by the President from time to time, as required.</li>
                <li>Board of Directors meetings shall be held on a monthly or regular basis throughout the year.</li>
                <li>Notice of any general membership meeting shall posted on the Squash Niagara website (“the website”), at least ten days prior to the date, of such meeting.</li>
                <li>Should the President fail to call a meeting deemed essential by certain members, three or&nbsp; more members may call a meeting by serving&nbsp; notice of said meeting to the Secretary&nbsp; at&nbsp; least fifteen&nbsp; days&nbsp; prior to the meeting date. The Secretary shall provide notice of such a meeting.</li>
            </ol>
            <p><strong>ARTICLE TEN – DUTIES OF OFFICERS</strong></p>
            <p>The duties of the officers of the Association shall be as follows:</p>
            <p>President (or the Vice-President in his absence):</p>
            <ol>
                <li>Chair of the Board of Directors and all membership meetings;</li>
                <li>Liaison with the member clubs of the Association;</li>
                <li>Attendance at committee meetings as required;</li>
                <li>Signing of banking and other documents;</li>
                <li>With the Secretary, the preparation of all meeting agendas.</li>
            </ol>
            <p>Past President:</p>
            <ol>
                <li>Adviser/Stand-in for President and Vice-President;\</li>
                <li>Chair for any committees as required by the President.</li>
            </ol>
            <p>Vice-President:</p>
            <ol>
                <li>Assistant to the President;</li>
                <li>Duties of the President in his absence;</li>
                <li>Signing of banking and other documents.</li>
            </ol>
            <p>Secretary:</p>
            <ol>
                <li>Recording of the minutes of Board of Directors and other membership meetings;</li>
                <li>Co-ordination of committee agendas;</li>
                <li>With the President, the preparation and distribution of meeting agendas;</li>
                <li>Notification to members of the Board and general membership of forthcoming meetings;</li>
                <li>Maintain and distribute a complete and up to date membership roster;</li>
                <li>Signing of banking and other documents.</li>
            </ol>
            <p>Treasurer:</p>
            <ol>
                <li>Maintain a complete account of all revenue and expenditures of the Association;</li>
                <li>Obtain and record bank statements;</li>
                <li>Prepare and report financial statements as required and at each annual general meeting;</li>
                <li>Signing of banking and other documents.</li>
            </ol>
            <p>Junior Development Chair:</p>
            <p>Promote the game of squash at the junior level within the region. In particular:</p>
            <ol>
                <li>Promote and encourage member-clubs to implement junior programs;</li>
                <li>Assist, as required, member-clubs in the running of junior tournaments, training camps etc.;</li>
                <li>Select and prepare junior players to represent the region in provincial team and individual events;</li>
                <li>Together with the Treasurer, develop and operate within an approved budget. Removal of Fixtures Secretary and Editor</li>
            </ol>
            <p><strong>ARTICLE ELEVEN – FEES</strong></p>
            <ol>
                <li>A league fee shall be levied on an annual basis against all league-participants, at a rate to be determined at the annual general meeting.</li>
                <li>Fees may be changed only on the recommendation of the Board of Directors and must be approved by a majority vote of the members present at a duly-called general meeting of the membership.</li>
                <li>Special levies may be assessed by the Board of Directors to cover unusual expenses. Such levies must be approved by a majority vote of the members present at a duly-called general meeting of the membership.</li>
            </ol>
            <p><strong>ARTICLE TWELVE – SIGNATURES</strong></p>
            <p>The official signatures of the Association shall consist of any two of the President, Vice-President, Secretary or Treasurer.</p>
            <p><strong>ARTICLE THIRTEEN – FISCAL YEAR</strong></p>
            <p><strong>ARTICLE THIRTEEN – FISCAL YEAR</strong></p>
            <p>The fiscal year of the Association shall be from May 1st to April 30th of the following year.</p>
            <p><strong>ARTICLE FOURTEEN – ANNUAL GENERAL MEETING, ORDER OF BUSINESS</strong></p>
            <p>The order of business at the annual general meeting will be as follows:</p>
            <ol>
                <li>Calling meeting to order.</li>
                <li>President’s message.</li>
                <li>Presentation of previous year’s minutes of meeting.</li>
                <li>Secretary’s (if applicable) and Treasurer’s reports.</li>
                <li>Communications and/or correspondence, if applicable.</li>
                <li>Committee reports.</li>
                <li>Election of officers.</li>
                <li>Unfinished business.</li>
                <li>New business.</li>
                <li>Adjournment.</li>
            </ol>
            <p><strong>ARTICLE FIFTEEN – AMENDMENTS</strong></p>
            <p>
                This constitution, or any of its articles, may be altered or amended at any annual general meeting or regularly
                called general membership meeting of the Association. Notice of any proposed amendment must be submitted to the s
                ecretary at least twenty days prior to the date of such meeting and the text of such amendment, together with the n
                otice of said meeting, shall be posted on the website. Any such amendment shall become effective only upon the approval o
                f a majority vote of accredited voting members present at that meeting.
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="leagueConst.html">Back to Top</a>
        </div>
    </div>
    <footer>
        <small>Copyright &copy; 2019 Bits N' Bytes. All rights reserved.</small>
    </footer>
</div>