
@{
    ViewData["Title"] = "News";
}

<br />
<content>
    <div class="container">
        <h2>News</h2>
        <hr class="my-3">
        <div class="row">
            <div class="col-3">
                <!sidebar>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Ridley 2 - the Champion</a></h5>
                                    <p class="card-text">With supporting text</p>
                                    <h6 class="card-subtitle text-muted">
                                        2 days ago
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">How to get involved</a></h5>
                                    <p class="card-text">With supporting text</p>
                                    <h6 class="card-subtitle text-muted">
                                        2 days ago
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="#">Ridley 2 - the Champion</a></h5>
                                    <p class="card-text">With supporting text</p>
                                    <h6 class="card-subtitle text-muted">
                                        2 days ago
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-9">
                <div class="jumbotron">
                    <h1>The most recent news here!</h1>
                </div>
                <h4>The subtitle of the news!</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel eros donec ac odio. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum. Ut placerat orci nulla pellentesque dignissim enim sit amet. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. Tempor orci dapibus ultrices in iaculis nunc. In pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Pellentesque sit amet porttitor eget dolor. Non consectetur a erat nam at. Ut enim blandit volutpat maecenas. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac. Pellentesque habitant morbi tristique senectus et netus et malesuada. Ac turpis egestas integer eget. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum.
                    ra. Diam et. Amet nisl purus in molli. Cursus vitae congue mauris rhoncus aenean. Sit amet purus gravida quis blandit turpis cursus. Malesuada proin libero nunc consequat interdum varius sit. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Vulputate ut pharetra sit amet. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. At consectetur lorem donec massa sapien faucibus et molestie. Nulla malesuada pellentesque elit eget. Id leo in vitae turpis. Massa placerat duis ultricies lacus.
                </p>
            </div>
        </div>
    </div>
</content>


@model IEnumerable<SN_BNB.Models.News>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <h2>News</h2>
    <hr class="my-3">
    <div class="row">
        <div class="col-3">
            <!sidebar>
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </h5>
                                    <h6 class="card-subtitle text-muted">
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>
        @foreach (var item in Model)
        {
            <div class="col-9">
                <div class="jumbotron">
                    <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                </div>
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
            </div>
        }
    </div>
</div>