@{
    ViewData["Title"] = "Home Page";
}

<body>
    <content>
        <div class="container">

            <div class="jumbotron">
                <h3>Welcome!</h3>
                <p>This is a simple hero unit, a simple jumbotron-style component for welcoming users to the page</p>
                <hr>
                <p>To learn more about Squash Niagara click the button below.</p>
                <p>
                    <a class="btn btn-primary" href="/Home/About" role="button">Learn more</a>
                </p>
            </div>
        </div>

        <div class="container">
            @*<div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                Recent News
                            </div>
                            <div class="card-body">
                                <a href="/Home/news" class="btn btn-primary">All News</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>*@
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Upcoming Matches
                        </div>
                        <div class="card-body">

                            <a href="/Home/Schedule" class="btn btn-primary">All Matches</a>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
        <h5 style="padding: 25px;">Position Leaders</h5>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 1
                    </div>
                    <div class="card-body">
                        <b>Huck, Murray</b>
                        <br>
                        <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 2
                    </div>
                    <div class="card-body">
                        <b>Forgeron, Dave</b>
                        <br>
                        <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 3
                    </div>
                    <div class="card-body">
                        <b>Vanderzalm, Brett</b>
                        <br>
                        <p class="card-text" style="color: limegreen"><i>Confirmed</i></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Position 4
                    </div>
                    <div class="card-body">
                        <b>Scott, Angus</b>
                        <br>
                        <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>
        <br>

    </content>
</body>
