@model SN_BNB.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamPoints" class="control-label"></label>
                <input asp-for="TeamPoints" class="form-control" />
                <span asp-validation-for="TeamPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamBio" class="control-label"></label>
                <input asp-for="TeamBio" class="form-control" />
                <span asp-validation-for="TeamBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamCreatedOn" class="control-label"></label>
                <input asp-for="TeamCreatedOn" class="form-control" />
                <span asp-validation-for="TeamCreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionID" class="control-label"></label>
                <select asp-for="DivisionID" class="form-control" asp-items="ViewBag.DivisionID"></select>
                <span asp-validation-for="DivisionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
