/** {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}*/

/*.rightnav {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
}



.dropdown {
    position: absolute;
    right: 10px;
    font-size: 11px;
}

.dropdown-item {
    font-size: 11px;
}*/

#editor {
    overflow: scroll;
    max-height: 300px;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
}

.container-fluid {
    max-width: 1200px;
}

.btn {
    background-color: #383361;
    border-color: #383361;
}

    .btn:hover {
        background-color: #5E54A0;
        border-color: #5E54A0;
    }
.btn-primary {
font-weight:600;
}