* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    /*font-family: Verdana, sans-serif;*/
}

.btn-toolbar {
    background-color: brown;
}

btn-toolbar {
    background-color: brown;
}

.btn-toolbar {
    background-color: brown;
}

#editor {
    overflow: scroll;
    max-height: 300px;
}

.card-header {
    font-size: 1.2em;
    font-weight: bold;
}

.container-fluid {
    max-width: 1200px;
}

#btn, #btnSearch {
    background-color: #383361;
    border-color: #383361;
    font-weight: 700;
    color: white;
}

    #btn:hover, #btnSearch:hover {
        background-color: #5E54A0;
        border-color: #5E54A0;
    }

.btn-primary {
    font-weight: 600;
}

#dateTime {
    font-weight: 600;
    font-size: 18px;
}
#homeTeam {
    color: green;
    font-weight: 700;
    font-size:18px;
}

#awayTeam {
    color: red;
    font-weight: 700;
    font-size: 18px;
}

#userID {
    color: #5E54A0;
}

