* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/*html {
	background-color: #5E54A0;
}*/

body {
    font-family: Verdana, sans-serif;
}

.rightnav {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
}

.faded {
    color: #383361;
    font-weight: bold;
}

.faded2 {
    color: #383361;
}

.form-inline {
    color: #5E54A0;
}

.btnSearch {
    color: gray;
    border-color: #383361;
}

    .btn:hover {
        background-color: #5E54A0;
        border-color: #5E54A0;
    }

.btn-success {
    color: #ffffff;
    background-color: #161617;
    border-color: #494F57;
}

.btnTitle {

}

/*.table-hover:matches(:hover){
    color: #5E54A0;
}*/

/*.dropdown {
	position: absolute;
	right: 10px;
	font-size: 11px;
}*/
/*.dropdown-item {
	font-size: 11px;
}*/
.card-header {
    font-size: 1.2em;
    font-weight: bold;
}

.table {
    width: 100%;
    max-width: 100%;
    margin: auto;
    float: none;
}

/*.container-fluid {
max-width:100%;
}*/
.table {
    text-align: center;
}

.container-fluid {
    max-width: 1200px;
}

footer {
    text-align: right;
}

.form-control {
width:200px;
}


/*.table {
	border-radius: 5px;
	width: 50%;
	margin: auto;
	float: none;
}*/


/*.table-responsive {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border: 1px solid #ddd;
}*/
