.faded {
    color: #383361;
    font-weight: bold;
}

.faded2 {
    color: #383361;
}

.form-inline {
    color: #5E54A0;
}

#btnSearch {
    color: dimgray;
    border-color: #383361;
    border-radius: 6px;
}

    #btnSearch:hover {
        background-color: #5E54A0;
        border-color: #5E54A0;
        color: white;
    }

.btn-success {
    color: #ffffff;
    background-color: #161617;
    border-color: #383361;
}



/* unvisited link */
a:link {
    color: #383361;
    /*font-size:18px;*/
}

/* visited link */
a:visited {
    color: #5E54A0;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: green;
}


.card-header {
    font-size: 1.2em;
    font-weight: bold;
}

.table {
    width: 100%;
    max-width: 100%;
    margin: auto;
    float: none;
}

.table {
    text-align: center;
}

.container-fluid {
    max-width: 1200px;
}

footer {
    text-align: right;
}

.form-control {
    width: 200px;
}

.btn-link {
    color: black;
    font-size: 20px;
    font-weight:700;
}