.faded {
    color: #383361;
    font-weight: bold;
}

.faded2 {
    color: #383361;
}

.form-inline {
    color: #5E54A0;
}

#btnSearch {
    color: white;
    border-color: #383361;
    background-color: #383361;
    border-radius: 6px;
    margin-left:5px;
}

    #btnSearch:hover {
        background-color: #5E54A0;
        border-color: #5E54A0;
        color: white;
    }

.btn-success {
    color: #ffffff;
    background-color: #161617;
    border-color: #383361;
}

.btn-primary {
    background-color: #383361;
    border-color: #383361;
}

    .btn-primary:hover {
        background-color: #5E54A0;
        border-color: #5E54A0;
    }

/* unvisited link */
#aa {
    font-size: 18px;
    font-weight: 700;
}

a:link {
    color: #5E54A0;
}

/* visited link */
a:visited {
    color: #383361;
}

/* mouse over link */
a:hover {
    color: #5E54A0;
}

/* selected link */
a:active {
    color: green;
}


/*.card-header {
    font-size: 1.2em;
    font-weight: bold;
}*/

.table {
    width: 100%;
    max-width: 100%;
    margin: auto;
    float: none;
}

.table {
    text-align: center;
}

.container-fluid {
    max-width: 1200px;
}

footer {
    text-align: right;
}

.form-control {
    width: 200px;
}

#playCol {
    color: black;
    font-size: 20px;
    font-weight: 700;
}

#division {
    position: absolute;
    right: 0px;
    padding: 10px;
    padding-bottom: 60px;
}