@model SN_BNB.Models.Season

@{
    ViewData["Title"] = "ExcelUpload";
}

<h2>ExcelUpload</h2>

<h4>Season</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ExcelUpload"  method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Season_Title" class="control-label"></label>
                <input asp-for="Season_Title" class="form-control" />
                <span asp-validation-for="Season_Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" asp-for="ExcelFile" name="file" />
                <label hidden name="dateErrorlbl" class="control-label">One or more of the fields with date/time were invalid. Use a field like dd/mm/yyyy hh:mm AM or dd/mm/yyyy hh:mm PM.</label>
                <input type="submit" id="btnSearch" value="Upload File" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
