
@{
    ViewData["Title"] = "Documents";
}
<br />
<h2>About</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Overview</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rules
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Home/LeagueRules">League Rules</a>
                        <a class="dropdown-item" href="/Home/LeagueConstitution">League Constitution</a>
                    </div>
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Documents">Documents</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <br />
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Score Sheet
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        This is a downloadable copy of the score sheet. <a href="~/images/ScoreSheet.pdf" download>Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
