
@{
    ViewData["Title"] = "LeagueRules";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index"><<<</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rules
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Home/LeagueRules">League Rules</a>
                        <a class="dropdown-item" href="/Home/LeagueConstitution">League Constitution</a>
                    </div>
                <li class="nav-item ">
                    <a class="nav-link" href="/Home/Documents">Documents</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4><strong>League Rules</strong></h4>
        </div>
        <div class="card-body" style="padding-left:90px; padding-right:90px;">
            <p><strong><u>SQUASH NIAGARA RULES AND BY-LAWS</u></strong></p>
            <p>League Play will be governed by the Rules of Squash as defined in the latest edition of “Rules of the World Singles Game of Squash”, unless modified in the following Rules and By-Laws of League Play. Additionally, all Players are expected to observe proper etiquette towards the referees and their fellow players as outlined in the “Squash Niagara – Code of Conduct” policy document.</p>
            <ul>
                <li>
                    <strong>Definition of Terms</strong>
                    <ol>
                        <li>Association: The term “Association” shall mean “Squash Niagara”, formerly the Niagara Squash Racquets Association (N.S.R.A.) of the Niagara Region.</li>
                        <li>Fixture: The term “Fixture” shall mean a match between two teams.</li>
                        <li>Match: A “Match” shall mean an individual match&nbsp; between&nbsp; two&nbsp; &nbsp; A match shall be the best 3 out of 5 games, point-per-rally scoring rules apply. The&nbsp; number of points&nbsp; per game&nbsp; per player/division shall&nbsp; be&nbsp; determined&nbsp; by the&nbsp; Squash&nbsp; Niagara&nbsp; Board&nbsp; of Directors.&nbsp; In point-per-rally&nbsp;&nbsp; scoring, a point is scored by the winner of every rally, not just the server.</li>
                        <li>Team: In all divisions, a league “Team” shall consist of four or five&nbsp; players&nbsp; depending&nbsp; on&nbsp; the Division format. All players must be members in good standing&nbsp; of a Member-Club,&nbsp; although&nbsp; they need not represent that Member-Club in league play. All teams must have a designated captain.</li>
                        <li>Club: The term “Club” or “Member-Club” shall mean a club or institution which is a member in good standing with Squash Ontario for the entire league-season.</li>
                        <li>Eligible Player: To be eligible to play league, each player must be a member in good standing of a Member-Club for the entire league-season (or for their duration of league-play) and must complete the Squash Niagara Player Registration, Release/Waiver and Indemnity&nbsp; Form&nbsp; prior to their&nbsp; first&nbsp; league fixture. An Eligible Player must also have completed the Online&nbsp; Referee&nbsp; Certification&nbsp; as&nbsp; provided&nbsp; by Squash Canada. (See section 6).</li>
                        <li>Website: The Squash Niagara official website can be found at<u> </u></li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <strong>Entry of Teams into League</strong>
                    <ol>
                        <li>Each club shall make application to the Association for the teams it desires&nbsp; to&nbsp; enter in the&nbsp; league&nbsp; in the following season.</li>
                        <li>When applying, each club shall specify its home courts available for league play.</li>
                        <li>Subject to the availability of courts, clubs may enter more than one team in any division.</li>
                        <li>The application of the entry of any teams shall be subject to acceptance by the Association.</li>
                        <li>As a guide-line, for every two teams entered to play on any one night, the club should provide three hours of court time.</li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <strong>League Scoring</strong>
                    <ol start="2">
                        <li>The team that wins the most matches, or in the case of an equality of matches, most games, or, in the case of an equality of games, most points, shall win the fixture. The team winning the fixture shall score one point per match won by it, plus one bonus point. In the case of an equality of matches, games and points, the bonus point shall be halved and each team shall score 2.5 points each.</li>
                        <li>In the event of a team withdrawing or being withdrawn from any division, all fixtures played by that team and all points awarded in respect thereof shall be cancelled and the division shall be completed by the remaining teams. In the event that a team withdraws or is withdrawn at the completion of the first round of fixtures, these provisions may, at the discretion of the Association, only apply to the second round.</li>
                        <li>The End of Season Standings will be determined by each Team’s total number of points. In the event of there being an equality of points between two or more teams at the end of the season, the tie(s) shall be broken as follows:</li>
                    </ol>
                </li>
            </ul>
            <ol>
                <li>Total Fixture points between the tied teams;</li>
                <li>Total Games between the tied teams;</li>
                <li>Fixture points of the last match between the tied teams</li>
            </ol>
            <ul>
                <li>
                    <strong>Duty of Team Captain</strong>
                    <ol>
                        <li>The Team Captain, or his/her representative, must attend the pre-season Players’ Meeting, (if held), and be responsible for the payment of their team’s dues.</li>
                        <li>The Team Captain must submit to Squash Niagara, the Squash Niagara Player Registration, Release/Waiver and Indemnity Form for each player on the team, prior to that player’s first match.</li>
                        <li>They must ensure that they have a full team able and ready to play for each league match.</li>
                        <li>They must ensure that if they are designated on the schedule on the website as the “Home Team” that they provide the scoresheets and the new match ball(s)* for that fixture. (*See “Match Balls Policy”- Section S)</li>
                        <li>The Team Captain, or his/her appointed team scorekeeper, must collect scoresheets from all matches and enter the game’s scores, or approvals, into the Squash Niagara Scorekeeper located on the website within 48 hours of the played fixture.</li>
                        <li>
                            They must ensure that:
                            <ol>
                                <li>the team roster is listed as required by Rule 8(d);</li>
                                <li>results are submitted as per Rule 8(i).</li>
                            </ol>
                        </li>
                        <li>Team Captains must bring all grievances to the attention of the Division Rep or the Squash Niagara Board of Directors if necessary, in writing.</li>
                        <li>Team Captains (or their team-member-representative) are expected to attend the Annual General Meeting.</li>
                        <li>The Team Captain must ensure, that for the Play-Off Tournament, their team is in compliance with the Rules for Play-Off Eligibility and Position as laid down in Rule 11.</li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li><strong>Match Balls Policy</strong></li>
            </ul>
            <p>The Captain’s package includes a dozen squash balls. The inclusion of the squash balls is an attempt to insure a standard quality of squash ball used in league matches. The home Captain will introduce two new squash balls for each home fixture of four matches. The initial dozen squash balls will cover the first six home fixtures. Any additional home fixtures scheduled by the league will be covered by additional new balls acquired by the host team. The home team captain is responsible for the dozen squash balls, their introduction at home fixtures, and their retirement.</p>
            <ul>
                <li><strong>Rules/Etiquette Clinic Attendance Policy</strong></li>
            </ul>
            <p>In an ongoing effort to help players understand the rules and expected court etiquette of the game of squash, Squash Niagara now requires the ‘Club Referee’ designation (formally 0-4 certification) as issued by Squash Canada. Every player is expected to have completed the Online Referee Certification. New players to the league require the Online Referee Certification by the end of season play-offs.</p>
            <ul>
                <li><strong>Duty of the Scorekeeper</strong></li>
            </ul>
            <p>Roles of the Team Scorekeeper should be, including but not limited to, the following:</p>
            <ol>
                <li>must collect scoresheets from all matches and enter the game’s scores, or approvals, into the Squash Niagara website within 48 hours of the played fixture.</li>
                <li>The expectation of entry time is within 48 hours of the played fixture. Lack of response will result in an automatic approval of the entered fixture score by the other team.</li>
                <li>entry and/or approval is the responsibility of both the winning and losing teams.</li>
            </ol>
            <ul>
                <li>
                    <strong>Fixtures</strong>
                    <ol>
                        <li>The Rules Committee is responsible for ensuring that the Rules and By-laws of League Play are followed. Teams which contravene these By-laws will be liable to forfeiture of its points for that fixture. Teams involved will be notified by the Rules Committee. Decisions of the Rules Committee may be appealed in writing to the Executive within 10 days of the decision.</li>
                        <li>All fixtures must be played at the scheduled date and time.</li>
                        <li>In the event of any team being compelled to scratch from a fixture or play short, the team captain concerned should notify the opposing captain of this as soon as possible. If a team scratches from a fixture that team shall forfeit the fixture and the opposing team shall be awarded full points for that fixture.</li>
                        <li>All matches should be played IN STRICT ORDER OF STRENGTH according to the current Order of Strength Check published on (and updated weekly on) the Niagara Squash Scorekeeper on the website. However, to support players who may have challenged up on their team, or where team-player strengths are similar, team-players may play out of sequence (up or down) by ONE position (per the Order of Strength list) only. Any Team failing to comply with this rule will have that match AND ALL matches below that position defaulted. (e.g. if the ‘weakest’ player of a team on any given night&nbsp; (per the Order of Strength) DID play at #2, then the #2, #3 and #4 matches would all be defaulted.) This rule will be strictly enforced by the Niagara Squash&nbsp; Scorekeeper&nbsp; &nbsp; Prior to&nbsp; the&nbsp; start&nbsp; of the first match in a fixture, the Visiting Team&nbsp; must first&nbsp; declare&nbsp; (on the&nbsp; paper score-sheet)&nbsp; their&nbsp; player&nbsp; list for the fixture in Order of Strength sequence (1-4 or S) followed by the Home Team listing theirs. It is recommended that prior to the start of each fixture, the team Captains should&nbsp; check&nbsp; the&nbsp; Squash Niagara Scorekeeper to ensure Order of Strength compliance of their team and of their opponents. The recommended normal sequence of play&nbsp; is that the&nbsp; Number 4’s&nbsp; should&nbsp; start&nbsp; the&nbsp; match,&nbsp; followed&nbsp; by 3’s, 2’s and finally l’s, although it is acceptable for matches to be played in any sequence. All fixtures MUST start at the appointed time. In the event of a player not being&nbsp; ready&nbsp; to&nbsp; play when their court becomes available,&nbsp; the&nbsp; match&nbsp; will&nbsp; be&nbsp; defaulted&nbsp; by that&nbsp; player&nbsp; and&nbsp; a win&nbsp; of 3-0 recorded for the other team. If this happens,&nbsp; additionally&nbsp; all&nbsp; matches&nbsp; positioned&nbsp; below that&nbsp; match&nbsp; shall be defaulted by the team whose player is late/failed to show up.</li>
                        <li>A player may not participate in more than one fixture on any one night. Any player doing so would cause a default in both fixtures, according to Rule (d) above.</li>
                        <li>Once a player has played five fixtures for a team that player becomes ineligible to play for another team of the same or lower division.(This rule is not valid for the Women’s&nbsp; Division,&nbsp; where&nbsp; a “Spare” player, a “Share” player or a “Bye” player may be asked to sub for a team which is&nbsp; short&nbsp; a player for a fixture on any one night, provided Rule (e) above is enforced.</li>
                        <li>No demotions will be permitted after February 1st. i.e. no player from a division&nbsp; can&nbsp; play for a lower division after February 1st.</li>
                        <li>A team may be removed from the league for failing to appear at matches.</li>
                        <li>Results are to be entered into&nbsp; the&nbsp; Squash&nbsp; Niagara&nbsp; database&nbsp; Scorekeeper&nbsp; on&nbsp; the&nbsp; website&nbsp; by&nbsp; the team scorekeeper and&nbsp; approved&nbsp; by&nbsp; the&nbsp; other&nbsp; team&nbsp; &nbsp; Scoresheets&nbsp; must&nbsp; be&nbsp; approved through&nbsp; the&nbsp; Squash&nbsp; Niagara&nbsp; website&nbsp; by&nbsp; both&nbsp; Team&nbsp; Captains,&nbsp; or their&nbsp; representatives&nbsp; (team scorekeeper), within a 48 hour period following&nbsp; the&nbsp; fixture.&nbsp; Failure&nbsp; of the team scorekeeper&nbsp; to perform the approval of the&nbsp; game(s)&nbsp; scores&nbsp; on the&nbsp; Squash&nbsp; Niagara&nbsp; website&nbsp; will&nbsp; result&nbsp; in&nbsp; an&nbsp; automatic&nbsp; approval of the entered score. If, for any reason,&nbsp; there&nbsp; are&nbsp; extenuating&nbsp; circumstances&nbsp; with&nbsp; regard&nbsp; to&nbsp; a fixture, these should be addressed in the “I do not agree” button of the fixture.</li>
                        <li>All matches are to be officiated. The Home Team’s Captain&nbsp; should&nbsp; ensure&nbsp; that a referee&nbsp; is available for the timely start of each match.</li>
                        <li>All Junior players (under 19) are required to wear appropriately suitable eye-protection.</li>
                        <li>Protests related to league matches should be made between&nbsp; team&nbsp; captains&nbsp; on&nbsp; the&nbsp; night&nbsp; of the fixture and should&nbsp; be&nbsp; noted&nbsp; on the score&nbsp; &nbsp; This should be followed&nbsp; by a formal&nbsp; letter&nbsp; of grievance to the Niagara Squash Board of Directors within two weeks.</li>
                        <li>The dues of each team entered into the league will be $400.00 which includes one dozen balls – see Match Balls Policy – Section 5. These dues pay for expenses such as League Awards, Junior Programs sponsorships and for some of the events which may be organized by the Board of Directors. Fees are due at the players meeting at the start of the season. Any team-dues not received by either the Treasurer or the appropriate Division Rep by the end of the first Tuesday in January will result in the forfeiture of all matches played by the delinquent team after that date until such fees are paid in full. Match-points forfeited during that period will not be re-instated.</li>
                        <li>Hosting Rule: The home team shall act as host at the home-club where possible. The bill is to be divided between the players of both teams.</li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>
                    <strong>Individual Position Awards</strong>
                    <ol>
                        <li>A player is placed into the position that (s)he has played most often.</li>
                        <li>The higher position is favoured in the case of a tie.</li>
                        <li>Players qualify for the individual award by playing in at least 50% of their team’s fixtures (excluding default wins) in the designated position.</li>
                        <li>Any match played against a non-qualifying member is discarded.</li>
                        <li>In summary, scores are only derived from matches between the players in your category.</li>
                        <li>Scores will be displayed as a percentage of games won.</li>
                        <li>An award will be presented to the top player of each position in each division.</li>
                        <li>The top two players from each level must have played each other a least once during regular season play. If they have not played each other, an additional match will be played and the outcome added to the overall calculation. This match will not be played if it cannot affect the outcome of the overall winner.</li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li><strong>Team Awards</strong></li>
            </ul>
            <p>Team awards are presented for regular season winners, play-off runners-up and play off winners. For each team that wins an award only players that have played 40% of their team’s matches will be awarded a prize.</p>
            <ul>
                <li>
                    <strong>Play-Off Tournament Player Eligibility</strong>
                    <ol>
                        <li>
                            Players who are eligible to play for a team in the Play-Off Tournament:
                            <ol>
                                <li>must be an eligible player (see 1 (f) and 6) <strong>AND</strong>;</li>
                                <li>must have played 40% of that team’s fixtures in regular league play by the end of the regular season.</li>
                            </ol>
                        </li>
                        <li>The player’s position on a team in the play-offs will be determined by the “Play-Off’s Ranking” column found on each team’s homepage. This ranking is determined by a calculation programmed in the Niagara Squash Scorekeeper on the website.</li>
                        <li>Each player must have completed the&nbsp; Online&nbsp; Referee&nbsp; Certificate,&nbsp; or in the&nbsp; interim,&nbsp; have completed a Rules Clinic within 3 years. The Rules Clinic designation is obsolete&nbsp; within&nbsp; the&nbsp; 3rd&nbsp; year of completion and the Online Referee Certification is to be completed. The player must complete the Online Referee Certification and forward the certificate to the webmaster.</li>
                    </ol>
                </li>
            </ul>
            <ul>
                <li>Play-Off Tournament Rules/ Format</li>
            </ul>
            <p>The format will be determined by the Squash&nbsp; Niagara&nbsp; Board&nbsp; of&nbsp; Directors&nbsp; and &nbsp;the&nbsp; Division Representatives. Once a format has been agreed upon it will be final. Once the format is determined&nbsp; it must be communicated to the Team Captains before the Division’s first fixture in January.</p>
            <p>A suggested format is outlined below.</p>
            <ol>
                <li>
                    Teams will be seeded according&nbsp; to&nbsp; regular&nbsp; season&nbsp; In cases of ties, order of regular season is decided by:
                    <ol>
                        <li>Fixture points between the tied teams;</li>
                        <li>Games between the tied teams;</li>
                        <li>Match score of the last match between the tied teams</li>
                    </ol>
                </li>
                <li>Higher-placing teams receive byes if necessary.</li>
                <li>All matches are best 3 out of 5 games using point per rally scoring.</li>
                <li>
                    The Winning team in each Play-off fixture is based on this order:
                    <ol>
                        <li>Matches won;</li>
                        <li>Games won;</li>
                        <li>Points of all games;</li>
                        <li>The last pair playing a match will play one (1) more game to decide the winner.</li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="card-footer text-muted">
            <a  href="/Home/LeagueRules">Back to Top</a>
        </div>
    </div>
</div>
