
@{
    ViewData["Title"] = "Standings";
}
<br />
<h2>Standings</h2>
<p>
    Players must play at least 50% of their team's fixtures at a given position in order to qualify.<br /><br />

    <i style="color:red;">* For positions to be Confirmed the first and second place players must have faced each other at least once.</i>
</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:300px; margin-bottom:10px;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="width:auto">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    2018-2019 Men's Divisions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">2018-2019 Men's Division 1/2</a>
                    <a class="dropdown-item" href="#">2018-2019 Men's Division 3</a>
                    <a class="dropdown-item" href="#">2018-2019 Men's Division 4</a>
                    <a class="dropdown-item" href="#">2018-2019 Women's Division</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col">
        <div class="card" style="max-width: 16rem;">
            <div class="card-header">
                Position 1
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px;">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    @foreach (Player p in ViewBag.ListOfPlayers)
                    {
                    <tr>
                        <td>@Html.Raw(p.FullName)</td>
                        <td>@Html.Raw(p.WinPerPos(1).ToString("P"))</td>
                    </tr>
                    }
                </table>
                <hr />
                <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">
                Position 2
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px; ">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    <tr>
                        <td style="  padding-bottom: 15px; padding-top: 15px;"><a href="#">Forgeron, Dave</a></td>
                        <td style="padding-left: 50px;">67</td>
                    </tr>

                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Corey, Jeff</a></td>
                        <td style="padding-left: 50px;">52</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Stones, Doug</a></td>
                        <td style="padding-left: 50px;">48</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Colcott, Craig</a></td>
                        <td style="padding-left: 50px;">46</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Seet, Kok-Wah</a></td>
                        <td style="padding-left: 50px;">42</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Gadula, Curtis</a></td>
                        <td style="padding-left: 50px;">40</td>
                    </tr>
                </table>
                <hr />
                <p class="card-text" style="color: limegreen"><i>Confirmed</i></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">
                Position 3
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px; ">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    <tr>
                        <td style="  padding-bottom: 15px; padding-top: 15px;"><a href="#">Vanderzalm, Brett</a></td>
                        <td style="padding-left: 50px;">100</td>
                    </tr>

                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Rapley, Dave</a></td>
                        <td style="padding-left: 50px;">67</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Shaw, Hamish</a></td>
                        <td style="padding-left: 50px;">63</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Muir, Jeff</a></td>
                        <td style="padding-left: 50px;">40</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Kelm, George</a></td>
                        <td style="padding-left: 50px;">0</td>
                    </tr>
                </table>
                <hr />
                <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="max-width: 18rem;">
            <div class="card-header">
                Position 4
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <th style="  padding-bottom: 15px; ">Player</th>
                        <th style="padding-left: 50px;">%</th>
                    </tr>

                    <tr>
                        <td style="  padding-bottom: 15px; padding-top: 15px;"><a href="#">Scott, Angus</a></td>
                        <td style="padding-left: 50px;">65</td>
                    </tr>

                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Cappelletti, Joey</a></td>
                        <td style="padding-left: 50px;">63</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Roussel, Chris</a></td>
                        <td style="padding-left: 50px;">62</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Lewis, Scott</a></td>
                        <td style="padding-left: 50px;">57</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Purnell, Mike</a></td>
                        <td style="padding-left: 50px;">37</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Devalk, Robert</a></td>
                        <td style="padding-left: 50px;">35</td>
                    </tr>
                    <tr>
                        <td style="  padding-bottom: 15px;"><a href="#">Hogg, Chris</a></td>
                        <td style="padding-left: 50px;">25</td>
                    </tr>
                </table>
                <hr />
                <p class="card-text" style="color: darkred"><i>Not Confirmed</i></p>
            </div>
        </div>
    </div>
</div>