<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@*@ViewData["Title"] -*@ Squash Niagara</title>

    <link rel="manifest" href="~/manifest.json" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/home.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5E54A0;">
        <div class="container">
            <a class="navbar-brand" href="/Home">
                <img src="~/images/Squash_Niagara_Logo.png" width="115" height="115" alt="" />
            </a>
        </div>
    </nav>
    @*<div class="MainNav">*@
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #383361;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item MainNav">
                            <a class="nav-link" href="/Home" style="color: white; padding-right:20px;">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item MainNav">
                            <a class="nav-link" href="/Home/Schedule" style="color: white; padding-right:20px;">Schedule</a>
                        </li>
                        <li class="nav-item MainNav">
                            <a class="nav-link" href="/Teams" style="color: white; padding-right:20px;">Teams</a>
                        </li>
                        <li class="nav-item MainNav">
                            <a class="nav-link" href="/Players" style="color: white; padding-right:20px;">Players</a>
                        </li>
                        <li class="nav-item MainNav">
                            <a class="nav-link" href="/Home/Standings" style="color: white; padding-right:20px;">Standings</a>
                        </li>

                        <li class="nav-item MainNav">
                            <a class="nav-link" href="/News" style="color: white; padding-right:20px;">News</a>
                        </li>
                        <li class="nav-item MainNav">
                            <a class="nav-link" href="/Home/About" style="color: white; padding-right:20px;">About</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item MainNav">
                                <a class="nav-link" style="color: white; padding-right:20px;" aria-disabled="true"> | </a>
                            </li>
                            <li class="nav-item dropdown MainNav">
                                <a class="nav-link dropdown-toggle" style="color: white; padding-right:20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin Options
                                </a>
                                <div class="dropdown-menu MainNav" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Seasons/Index">Seasons</a>
                                    <a class="dropdown-item" href="/Fixtures/Index">Fixtures</a>
                                    <a class="dropdown-item" href="/Matches/Index">Matches</a>
                                    <a class="dropdown-item" href="/UserRoles">User Roles</a>
                                </div>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                    <br>
                </div>
            </div>
        </nav>
    @*</div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <small>Copyright &copy; 2019 Bits N' Bytes. All rights reserved.</small>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
