@model IEnumerable<SN_BNB.ViewModels.UserVM>

@{
    ViewBag.Title = "Index";
}
<link href="~/css/team.css" rel="stylesheet" />

<h2>User Role Assignments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRoles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{
                    foreach (var r in item.userRoles)
                    {
                        @:  @r <br />
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<form asp-action="ExcelUpload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label">Excel File:</label>
        <input type="file" class="" name="file" /><br />
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Upload Data" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
