
@{
    ViewData["Title"] = "Standings";
}
<br />
<h2>Standings</h2>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>-->

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2018-2019 Men's Divisions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">2018-2019 Men's Division 1/2</a>
                        <!--<div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="#">2018-2019 Men's Division 3</a>
                        <a class="dropdown-item" href="#">2018-2019 Men's Division 4</a>
                        <a class="dropdown-item" href="#">2018-2019 Women's Division</a>
                    </div>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>-->
            </ul>
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>*@
        </div>
    </nav>

    @*!!!!!! Place holder tables to be replaced for working ones !!!!!!*@
    <h4>Position 1</h4>
    <div class="table-responsive-sm">
        <table class="table table-light table-hover table-striped">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player</th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches Played">Played</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches won">Won</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches lost">Lost</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Won">For</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Lost">Against</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="6= 3:0//  5 = 3:1//  4 = 3:2//  3 = 2:3//  2 = 1:3//  1 = 0:3">Points</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Average of points per match">Average</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bowie, Matt</td>
                    <td>14</td>
                    <td>9</td>
                    <td>5</td>
                    <td>33</td>
                    <td>19</td>
                    <td>61</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Forgeron, Dave</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="players_history.html">Forgeron, Rachael</a></td>
                    <td>13</td>
                    <td>10</td>
                    <td>3</td>
                    <td>32</td>
                    <td>16</td>
                    <td>58</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lipinski, Jakub</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Christie, Adam</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Hajek, Matt</td>
                    <td>13</td>
                    <td>8</td>
                    <td>5</td>
                    <td>29</td>
                    <td>20</td>
                    <td>53</td>
                    <td>4.1</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Scott, Angus</td>
                    <td>12</td>
                    <td>10</td>
                    <td>2</td>
                    <td>31</td>
                    <td>18</td>
                    <td>51</td>
                    <td>4.3</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Savarie, Chris</td>
                    <td>13</td>
                    <td>9</td>
                    <td>4</td>
                    <td>28</td>
                    <td>20</td>
                    <td>51</td>
                    <td>3.9</td>
                </tr>
            </tbody>
        </table>
    </div><br />

    <h4>Position 2</h4>
    <div class="table-responsive-sm">
        <table class="table table-light table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player</th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches Played">Played</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches won">Won</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches lost">Lost</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Won">For</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Lost">Against</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="6= 3:0//  5 = 3:1//  4 = 3:2//  3 = 2:3//  2 = 1:3//  1 = 0:3">Points</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Average of points per match">Average</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bowie, Matt</td>
                    <td>14</td>
                    <td>9</td>
                    <td>5</td>
                    <td>33</td>
                    <td>19</td>
                    <td>61</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Forgeron, Dave</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="players_history.html">Forgeron, Rachael</a></td>
                    <td>13</td>
                    <td>10</td>
                    <td>3</td>
                    <td>32</td>
                    <td>16</td>
                    <td>58</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lipinski, Jakub</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Christie, Adam</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Hajek, Matt</td>
                    <td>13</td>
                    <td>8</td>
                    <td>5</td>
                    <td>29</td>
                    <td>20</td>
                    <td>53</td>
                    <td>4.1</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Scott, Angus</td>
                    <td>12</td>
                    <td>10</td>
                    <td>2</td>
                    <td>31</td>
                    <td>18</td>
                    <td>51</td>
                    <td>4.3</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Savarie, Chris</td>
                    <td>13</td>
                    <td>9</td>
                    <td>4</td>
                    <td>28</td>
                    <td>20</td>
                    <td>51</td>
                    <td>3.9</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Position 3</h4>
    <div class="table-responsive-sm">
        <table class="table table-light table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player</th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches Played">Played</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches won">Won</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches lost">Lost</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Won">For</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Lost">Against</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="6= 3:0//  5 = 3:1//  4 = 3:2//  3 = 2:3//  2 = 1:3//  1 = 0:3">Points</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Average of points per match">Average</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bowie, Matt</td>
                    <td>14</td>
                    <td>9</td>
                    <td>5</td>
                    <td>33</td>
                    <td>19</td>
                    <td>61</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Forgeron, Dave</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="players_history.html">Forgeron, Rachael</a></td>
                    <td>13</td>
                    <td>10</td>
                    <td>3</td>
                    <td>32</td>
                    <td>16</td>
                    <td>58</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lipinski, Jakub</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Christie, Adam</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Hajek, Matt</td>
                    <td>13</td>
                    <td>8</td>
                    <td>5</td>
                    <td>29</td>
                    <td>20</td>
                    <td>53</td>
                    <td>4.1</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Scott, Angus</td>
                    <td>12</td>
                    <td>10</td>
                    <td>2</td>
                    <td>31</td>
                    <td>18</td>
                    <td>51</td>
                    <td>4.3</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Savarie, Chris</td>
                    <td>13</td>
                    <td>9</td>
                    <td>4</td>
                    <td>28</td>
                    <td>20</td>
                    <td>51</td>
                    <td>3.9</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Position 4</h4>
    <div class="table-responsive-sm">
        <table class="table table-light table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Player</th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches Played">Played</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches won">Won</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Matches lost">Lost</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Won">For</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Number of Games Lost">Against</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="6= 3:0//  5 = 3:1//  4 = 3:2//  3 = 2:3//  2 = 1:3//  1 = 0:3">Points</span></th>
                    <th scope="col"><span data-toggle="tooltip" title="Average of points per match">Average</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Bowie, Matt</td>
                    <td>14</td>
                    <td>9</td>
                    <td>5</td>
                    <td>33</td>
                    <td>19</td>
                    <td>61</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Forgeron, Dave</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="players_history.html">Forgeron, Rachael</a></td>
                    <td>13</td>
                    <td>10</td>
                    <td>3</td>
                    <td>32</td>
                    <td>16</td>
                    <td>58</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Lipinski, Jakub</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Christie, Adam</td>
                    <td>14</td>
                    <td>10</td>
                    <td>4</td>
                    <td>35</td>
                    <td>22</td>
                    <td>59</td>
                    <td>4.4</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Hajek, Matt</td>
                    <td>13</td>
                    <td>8</td>
                    <td>5</td>
                    <td>29</td>
                    <td>20</td>
                    <td>53</td>
                    <td>4.1</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Scott, Angus</td>
                    <td>12</td>
                    <td>10</td>
                    <td>2</td>
                    <td>31</td>
                    <td>18</td>
                    <td>51</td>
                    <td>4.3</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Savarie, Chris</td>
                    <td>13</td>
                    <td>9</td>
                    <td>4</td>
                    <td>28</td>
                    <td>20</td>
                    <td>51</td>
                    <td>3.9</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <small>Copyright &copy; 2019 Bits N' Bytes. All rights reserved.</small>
    </footer>
</div>

